<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Analyser</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>CLIENT ANALYSER</h1>
        <form method="post">
            <p>Deliveries</p>
            <textarea name="deliveries" style="width:400px;height:100px;"></textarea>
            <p>Products</p>
            <textarea name="products" style="width:400px;height:100px;"></textarea>
            <p>Sessions</p>
            <textarea name="sessions" style="width:400px;height:100px;"></textarea>
            <p>Users</p>
            <textarea name="users" style="width:400px;height:100px;"></textarea>
            <br>
            <input type="submit">
        </form>
        <p>{{ result }}</p>
    </div>
</body>
</html>